.button {
    padding: 10px;
    border-radius: 16px;
    background-color: #F5CA7B;
    font-size: 16px;
    position: absolute;
    left: 30px;
    top: 30px;
    cursor: pointer;
    text-align: center;
}

@media screen and (max-width: 800px) {
    .button {
        height: 60px;
        width: 80px;
        margin: 0px;
        left: 15px;
        top: 15px;
    }
}

.button:hover {
    background-color: #f3d295;
}