body {
    background-color: #e1f0f6;
    font-family: Epilogue;
}

.container {
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.5fr;
    grid-template-rows: 0.5fr 2fr 0.5fr;
    height: 40vw;
}

.headline {
    grid-column-start: 2;
    grid-row-start: 1;
    justify-self: center;
    color: black;
    font-size: 6vw;
}

@media only screen and (min-width: 600px) {
    body {
        background-color: #e1f0f6;
        font-family: Epilogue;
        font-size: 1.3vw;
    }

    .headline {
        font-size: 3vw;
        margin-bottom: 0.1vw;
    }

}