.ArrowDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
    margin-left: 30%;
}


.Arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;

}

.Right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.Left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.Button{
    background-color: white;
    color: black;
    border: 2px solid #EB753C;
    width: 50px;
}

.Button:hover {
    background-color: #EFA646;
    color: white;
}

.Button:disabled{
    background-color: #E4F0F5;
    border:#E4F0F5;
    text-indent: -99999px;
}

.Description{
    justify-content: space-between;
    display: flex;
    align-items: center;
    border-bottom: solid 1px #EB753C;
    overflow: auto;
}

.SingleCommit{
    margin-bottom: 20px;
    background-color: white;
    border-radius: 10px;
    padding: 25px;
    border: solid #EB753C 1px;
    text-align: center;
    width: 75%;
    display:inline-block;

}

.LoadingIcon{
    margin-top:25%;
}

.UlList{
    display: table;
    list-style: none;
    background-color: #d1e6ee;
    border-radius: 10px;
    padding: 2.5% 0;
    width: 100%;



}

body{
    width: 80%;
    margin-left: 10%;
    justify-content: center;
    text-align: center;
}

