
.pageContainer {
    display: flex;
    flex-direction: column;
    height: fit-content;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    margin-left: 10%;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.button {
    background: #F5CA7B;
    border-radius: 5px;
    border: none;
    width: 3.5rem;
    height: 3.5rem;
    font-size: 2rem;
    position: relative;
    left: 20%;
}
