
.pieChartContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

@media only screen and (max-width: 500px){
    .pieChartContainer {
        width: 100%;
    }
}

.inputContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: fit-content;
    width: 80%;
    max-width: 300px;
}

.checkboxContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #F5CA7B;
    padding: 4%;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 5px;
    margin-bottom: 10px;
    color: #2a2a2a;
}
