
.issue {
    display: grid;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-rows: 0.5fr 2fr 0.5fr;
    color: black;
    background: #8ECAE6;
    width: 100%;
    height: 20vw;
    border-style: solid;
    border-radius: 5px;
    border-color: dodgerblue;
    text-align: center;
    margin-bottom: 2vw;
    margin-top: 3vw;
    box-shadow: 0 3px 10px black;
}


.title {
    justify-self: center;
    height: 7vw;
    font-size: 4vw;
    margin: auto;
    grid-column: 1/3;
    grid-row-start: 1;
    text-transform: capitalize;
}

.description {
    font-size: 3vw;
    height: 9vw;
    width: 98%;
    margin: auto;
    grid-column: 1/3;
    grid-row-start: 2;
}

.description:first-letter{
    text-transform: capitalize;
}

.state {
    height: 3vw;
    margin: auto;
    grid-column-start: 1;
    grid-row-start: 3;
    font-size: 2.5vw;
    text-transform: capitalize;
}

.date {
    height: 3vw;
    margin: auto;
    grid-column-start: 2;
    grid-row-start: 3;
    font-size: 2.5vw;
}

@media only screen and (min-width: 600px) {
    .issue {
        width: 100%;
        height: 14vw;
        border-style: solid;
        border-radius: 5px;
        border-color: dodgerblue;
        text-align: center;
        margin-bottom: 1vw;
        margin-top: 1vw;
    }


    .title {
        height: 7vw;
        font-size: 2vw;
        margin-bottom: -3vw;
    }

    .description {
        font-size: 1.5vw;
        height: 9vw;
        width: 98%;
        margin-bottom: -3vw;
    }

    .state {
        height: 3vw;
        font-size: 1.2vw;
    }

    .date {
        height: 3vw;
        font-size: 1.2vw;
    }

}
