

.picture{
    max-width: 550px;
}

.inputField{
    width: 50%;
    height: 30px;
    margin: 10px auto;
}

.inputWrapper{
    width: 100%;
    height: 100%;
    margin-left: 0%;
    display: flex;
    flex-direction: column;
    background-color: #1C1644;
    height: 100%;
}

form {
    display: flex;
    flex-direction: column;
}

.buttonDiv{
    margin-left: 20%;
    width: 60%;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

button{
    width: 140px;
    height: 35px;
}

.submitButton,.defaultButton {
    padding: 5px;
    margin: auto;
    cursor: pointer;
    color: #DD904C;
    border: solid #DD904C 2px;
    background-color: #1C1644;
}

.submitButton:hover,.defaultButton:hover{
    color: white;
    background-color: #DD904C;
}

.submitButton:disabled {
    background-color: lightgrey;
    border: solid grey 2px;
    color: black;
    cursor: not-allowed;
}


@media screen and (max-width: 800px) {
    .submitButton,.defaultButton {
        margin-top: 10px;
        margin-left: 5px;
        margin-right: 5px;
        height: 60px;
        width: 80px;
        left: 15px;
        top: 15px;
    }
}
