
.wrapper {
    width: 70%;
    align-self: center;
}

@media screen and (max-width: 500px){
    .wrapper {
        width: 100%;
    }
}

.container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.datePickerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 30%;
    width: 70%;
}

@media screen and (max-width: 500px) {
    .datePickerContainer {
        flex-direction: column;
    }
}
