.wrapperStats {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 16px;
    background-color: lightslategray;
    padding: 15px;
    font-size: 24px;
}

@media (max-width:600px) { 
    .wrapperStats {
        width: 60%;
        font-size: 16px;
    }
}