.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.buttonWrapper{
 display: flex;
 flex-direction: row;
 justify-content: center;
 width: 100%;
 height: 40%;
}

.button{
    background: #8ECAE6;
    cursor: pointer;
    width: 225px;
    height: 225px;
    border-radius: 16px;
    margin: 50px;
    font-size: 24px;
}

.button:hover,
.button:focus {
    box-shadow: 0 0.5em 0.5em -0.4em;
    transform: translateY(-0.25em);
}

@media screen and (max-width: 800px) {
    .buttonWrapper{
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 800px) {
    .button{
        height: 124px;
        width: 124px;
        margin: 20px;
    }
}
